[Unit]
Description=StructBot
After=syslog.target
After=network.target

[Service]
RestartSec=30
Restart=always
Type=simple
PIDFile=/tmp/structbot.pid
WorkingDirectory=/home/ubuntu/structbot
ExecStart=/home/ubuntu/.local/bin/pipenv run w
ExecStop=
ExecReload=
User=ubuntu


[Install]
WantedBy=multi-user.target
